.text {
    font-family: sans-serif;
    font-size: 11pt;
}

.label {
    font-family: sans-serif;
    font-size: 10pt;
}

.data {
    font-family: sans-serif;
    font-size: 10pt;
}

.text-data {
    font-family: sans-serif;
    font-size: 10pt;
}

.report-heading {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: normal;
    margin-bottom: 18px;
    color: #4F81BD;
}

.heading1 { 
    font-family: sans-serif;
    font-size: 22px;
    color: #4F81BD;
    margin-top:18px;
    margin-bottom:12px;
}
.heading2 {
    font-family: sans-serif;
    font-size: 18px;
    color: #4F81BD;
}
.heading3 {
    font-family: sans-serif;
    font-size: 12px;
    color: #4F81BD;
}

.description {
    font-family: sans-serif;
    font-size: 10pt;
    margin-bottom: 18px;
    font-style: italic;
    color: #666;
}

.parameter-table-heading {
    font-family: sans-serif;
    font-style: italic;
    font-size: 10pt;
}

.report-parameter {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10pt;
}

.grid {
    margin-bottom: 18px;
}

.table {
    border-style: solid;
}

.table-header {
    text-align: left;
    font-weight: normal;
    color: white;
    background-color: #4F81BD;
    border-style: solid;
}

.table-header-cell {
    border-style: solid;
    padding: 6px 8px;
}

.table-header-cell-right {
    text-align: right;
}

.table-detail-cell {
    border-style: solid;
    border-width: 1px;
}

.table-detail-cell-right {
    text-align: right;
}

.crosstab-header {
    text-align: left;
    font-weight: bold;
    color: white;
    background-color: blue;
    border-style: solid;
}

a:link {
    color: white;
}

.crosstab-cell-right {
    text-align: right;
}

.crosstab-cell-total {
    font-weight: bold;
    text-align: right;
}

.indented-1 {
    padding-left: 16pt;
}

.indented-2 {
    padding-left: 32pt;
}

